/*--------------------------------------------------------------
# Google Map One
--------------------------------------------------------------*/
.google-map-one {
    position: relative;
    display: block;
    z-index: 1;
}

.google-map__one {
    position: relative;
    display: block;
    border: none;
    height: 500px;
    width: 100%;
}








/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/